@model  List<BaiTap.Models.Cart>

@{
    ViewBag.Title = "Giỏ hàng";
}

<h2>Giỏ hàng của bạn</h2>
<table class="table">
    <thead>
        <tr>
            <th>STT</th>
            <th>Tên sản phẩm</th>
            <th>Giá</th>
            <th>Số lượng</th>
            <th>Tổng tiền</th>
        </tr>
    </thead>
    <tbody>
        @{ int stt = 1; }

        @foreach (var item in Model)
        {
            <tr>
                <td>@stt</td>
                <td>@item.Product.productName</td>
                <td>@item.Product.price</td>
                <td>@item.quantity</td>
                <td>@(item.quantity * item.Product.price)</td>
            </tr>
            stt++;
        }
    </tbody>
</table>

<a href="@Url.Action("Index", "Home")" class="btn btn-primary">Tiếp tục mua sắm</a>
