@model IEnumerable<BaiTap.Models.Cart>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cart</title>
</head>
<body>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product.productName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.price)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.quantity)
            </th>


            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.productName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.quantity)
                </td>

                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.cartId })
                </td>
            </tr>
        }

    </table>
</body>
</html>
